# Ignore node_modules in root
node_modules/

# Ignore node_modules inside the backend folder
backend/node_modules/

# Ignore .env files in root and backend folder
.env
backend/.env
frontend/.env


# Ignore Dockerfile in the backend directory
backend/Dockerfile